/* Webfont: Ben-LightItalic */
@font-face {
  font-family: "BenLightIta";
  src: url("Ben-LightItalic.eot"); /* IE9 Compat Modes */
  src:
    url("Ben-LightItalic.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("Ben-LightItalic.woff") format("woff"),
    /* Modern Browsers */ url("Ben-LightItalic.ttf") format("truetype"); /* Safari, Android, iOS */
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
